# ---> C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode/
.directory

aclocal.m4
compile
config.guess
config.h
config.status
config.log
config.sub
configure
depcomp
Makefile
missing
stamp-h1
autom4te.cache
.deps
.libs
Makefile.in
ltmain.sh
INSTALL
libtool
install-sh
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
build/meson-info/intro-benchmarks.json
build/meson-info/intro-buildoptions.json
build/meson-info/intro-buildsystem_files.json
build/meson-info/intro-dependencies.json
build/meson-info/intro-installed.json
build/meson-info/intro-projectinfo.json
build/meson-info/intro-targets.json
build/meson-info/intro-tests.json
build/meson-info/meson-info.json
build/meson-logs/meson-log.txt
build/meson-private/build.dat
build/meson-private/cmd_line.txt
build/meson-private/coredata.dat
build/meson-private/install.dat
build/meson-private/meson_benchmark_setup.dat
build/meson-private/meson_test_setup.dat
build/meson-private/meson.lock
build/meson-private/sanitycheckc.c
